In [1]:
import pandas as pd

In [44]:
df = pd.read_csv("C:\\Users\\Dell\\Desktop\\rasa\\dataset_fida\\Entities\\desserts.csv",sep=';',names=['Carrot Halwa', 'Double Ka Meeta', 'Gulab Jamun','Qubani Ka Meeta','Ras Malai'])
df

,Carrot Halwa,Double Ka Meeta,Gulab Jamun,Qubani Ka Meeta,Ras Malai
0,"Carrot Halwa,""Carrot Halwa"",""Carrot halwa"",""ca...",NaN,NaN,NaN,NaN
1,"Double Ka Meeta,""Double Ka Meeta"",""Double Ka m...",NaN,NaN,NaN,NaN
2,"Gulab Jamun,""Globe German"",""Glock German"",""Gul...",NaN,NaN,NaN,NaN
3,"Qubani Ka Meeta,""Qubani Ka Meeta"",""Qubani ka m...",NaN,NaN,NaN,NaN
4,"Ras Malai,""Ras Malai"",""Ras malai"",""Rasmalai"",""...",NaN,NaN,NaN,NaN

In [50]:
df = pd.read_csv("C:\\Users\\Dell\\Desktop\\rasa\\dataset_fida\\Entities\\desserts.csv",names=['Carrot Halwa', 'Double Ka Meeta', 'Gulab Jamun','Qubani Ka Meeta','Ras Malai'])
df

,Carrot Halwa,Double Ka Meeta,Gulab Jamun,Qubani Ka Meeta,Ras Malai
0,"Carrot Halwa,""Carrot Halwa"",""Carrot halwa"",""ca...",NaN,NaN,NaN,NaN
1,"Double Ka Meeta,""Double Ka Meeta"",""Double Ka m...",NaN,NaN,NaN,NaN
2,"Gulab Jamun,""Globe German"",""Glock German"",""Gul...",NaN,NaN,NaN,NaN
3,"Qubani Ka Meeta,""Qubani Ka Meeta"",""Qubani ka m...",NaN,NaN,NaN,NaN
4,"Ras Malai,""Ras Malai"",""Ras malai"",""Rasmalai"",""...",NaN,NaN,NaN,NaN

In [71]:
df = pd.read_csv("C:\\Users\\Dell\\Desktop\\rasa\\dataset_fida\\Entities\\desserts.csv",sep=";",header=None)
df

                                                   0
0  Carrot Halwa,"Carrot Halwa","Carrot halwa","ca...
1  Double Ka Meeta,"Double Ka Meeta","Double Ka m...
2  Gulab Jamun,"Globe German","Glock German","Gul...
3  Qubani Ka Meeta,"Qubani Ka Meeta","Qubani ka m...
4  Ras Malai,"Ras Malai","Ras malai","Rasmalai","...

In [73]:
df.transpose()
# df.set_index(['Carrot Halwa', 'Double Ka Meeta', 'Gulab Jamun','Qubani Ka Meeta','Ras Malai'])

,0,1,2,3,4
0,"Carrot Halwa,""Carrot Halwa"",""Carrot halwa"",""ca...","Double Ka Meeta,""Double Ka Meeta"",""Double Ka m...","Gulab Jamun,""Globe German"",""Glock German"",""Gul...","Qubani Ka Meeta,""Qubani Ka Meeta"",""Qubani ka m...","Ras Malai,""Ras Malai"",""Ras malai"",""Rasmalai"",""..."

In [75]:
(['Carrot Halwa', 'Double Ka Meeta', 'Gulab Jamun','Qubani Ka Meeta','Ras Malai'])

['Carrot Halwa',
 'Double Ka Meeta',
 'Gulab Jamun',
 'Qubani Ka Meeta',
 'Ras Malai']

In [81]:
df.columnsIndex(['Carrot Halwa', 'Double Ka Meeta', 'Gulab Jamun','Qubani Ka Meeta','Ras Malai'])

AttributeError: 'DataFrame' object has no attribute 'columnsIndex'